<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="New Source" value="/Users/kushagra.gupta/Documents/Chartboost/Repositories/Unity/helium-unity-sdk/com.chartboost.mediation" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="./Packages" />
    <add key="PackagesConfigDirectoryPath" value="Packages" />
    <add key="slimRestore" value="true" />
    <add key="InstallFromCache" value="false" />
    <add key="ReadOnlyPackageFiles" value="false" />
  </config>
</configuration>